.btn {
  margin-left: 12px;
  margin-right: 12px;
}
.listItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 6px;
  color: rgb(179, 179, 179);
  padding: 6px;
  background-color: #f5f5f5;
}
.listItems:hover {
  background-color: #c4c1c1;
  border-radius: 6px;
}
.close {
  color: grey;
  text-decoration: line-through;
}
.filter {
  margin-top: 12px !important;
  display: flex;
  justify-content: center !important;
}
#grbtns {
  border-radius: 0;
}
